@model BookstoreWeb.Models.Category

<h2>Edit Category</h2>

<div asp-validation-summary="All"></div>

<form asp-action="EditCategory" method="post">

    <input type="hidden" asp-for="CategoryID" />

    <div>
        <label asp-for="Name">Category Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <button type="submit">Save</button>
    <a asp-action="Index">Cancel</a>
</form>
